body {
    margin: 0; 
    padding: 0; 
    background: rgb(247, 247, 247);
    overflow-x: hidden;
}

body, .slider {
    animation: transitionIn 1s;
}

@keyframes transitionIn{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    
}

li a {
    text-decoration: none;
    color: rgb(172, 113, 113);;
    font-family:'Poppins';
    font-size: 20px;
    padding: 3px 7px;
    
}

#menu a:hover {color: rgb(148, 32, 71);background: rgba(68, 8, 36, 0.219); border-radius: 15px;transition-duration: 1.2s;}

.socials a:hover {color: rgb(148, 32, 71);background: rgb(68, 8, 36); border-radius: 15px;transition-duration: 1.2s;}


header  {
    display: block;
    position: sticky;
    top: -1px;
    margin-top: -20px;
    background: linear-gradient(45deg, #fae69da2, #ff8fdd);
    width: 100%;
    height: 90px;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.15);
}

/*-- ⇡ parte do cabeçalho, já está feito --*/

h1 {color: #FA8072;
    margin: 100px;
    margin-top: 70px;
    padding: 0;
    text-align: center;
    font-size: 50px;
    font-family:'Delius';
    font-weight: 600;
    animation: transitionIn 5s;
}



h2 {
    margin: 100px;
    padding: 0;
    font-family: 'Delius';
    font-size: 30px;
    animation: transitionIn 5s;

}

h3 {
    margin: 100px;
    padding: 0;
    font-family: 'Delius';
    font-size: 30px;
    animation: transitionIn 5s;

}

.sobremim p {
    text-indent: 35px;
    text-align: justify;
    color: rgb(38, 33, 56);
    margin:100px;
    margin-top:-90px;
    font-family: 'Poppins';
    font-size: 18px;
    font-stretch:extra-expanded;
    
}

.Propósitos p{
    text-indent: 35px;
    text-align: justify;
    color: rgb(38, 33, 56);
    margin:100px;
    margin-top:-90px;
    font-family: 'Poppins';
    font-size: 18px;
    font-stretch:extra-expanded;
}

/*-- ⇡ parte do main --*/
/*-- falta a foto de perfil com borda, um menuzinho mobile (mas não é prioridade) --*/

img {
    margin-top: -50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #ffffff;

}
.center {
    text-align: center;
}

/*-- ⇡ Ícone da página --*/

.socials {
    list-style: none;
    display: flex;
    align-items: left;
    justify-content: left;
    margin: 3rem 0 3rem 0;
    margin-left: 100px;
    margin-top:-80px;

}

.socials a {
    font-family: 'Delius';
    text-decoration: none;
    color: #FA8072
    ;
}

.socials a:hover {color:aliceblue}


/*-- ⇡ ícone de contato --*/

/*-- "responsivo" --*/

/*-- IMPORTANTE: ainda não descobri como adaptar para as telas de mobile (principalmente o Galaxy Fold) :[ --*/

@media (max-width:760px){
    .sobremim h2 {text-align: center;
        max-width: 980px;
        font-size: 150%;
    }

    .Propósitos h2 {text-align: center;
        max-width: 980px;
        font-size: 150%;
    }
    .contato h3 {
        max-width: 980px;
        font-size: 150%;
    }

    .portfolio h2 {
        width: 100%;
        font-size: 150%;
    }

    .sobremim p {text-align: center;
        max-width: 760px;
        font-size: 20px;
        text-align: justify;
    }

    .Propósitos p {text-align: center;
        max-width: 760px;
        font-size: 20px;
        text-align: justify;
    }

}
